* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 695px;
  width: 100%;
  padding: 10px;
}

.header {
  text-align: center;
  padding: 30px;
  height: 20%;
  width: 100%;
  background-color: skyblue;
  margin-bottom: 10px;
}
h1 {
  color: white;
}
.content {
  display: flex;
  height: 60%;
  width: 100%;
}

.left {
  flex: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: seagreen;
  margin-right: 10px;
  color: white;
  font-size: 16px;
}

.right {
  flex: 65%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.maincontent {
  width: 100%;
  height: 75%;
  background-color: yellow;
}

.lowercont {
  margin-top: 10px;
  width: 100%;
  height: 25%;
  background-color: grey;
}

.footer {
  text-align: center;
  padding: 30px;
  height: 20%;
  width: 100%;
  background-color: orange;
  margin-top: 10px;
}
